.slideshow-container img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.mySlides {
  position: relative;
  text-align: center;
  color: white;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 698px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.mySlides > img {
  position: relative;
  height: 698px;
  object-fit: cover;
}

.image_mid_text {
  left: 0;
  position: absolute;
  text-align: center;
  top: 250px;
  width: 100%;
}

.image_mid_text > h1 {
  font-size: 5rem;
  font-weight: 500;
}

.image_mid_text > p {
  font-size: 2rem;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1.5rem;
}

.image_mid_text > .linkButton {
  background-color: var(--yellow-accent);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  transition: background-color 0.4s;
}

.image_mid_text > .linkButton:hover {
  background-color: #8e3aab;
  cursor: pointer;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  position: absolute;
  bottom: 5%; /* Position the element at the bottom of the container */
  left: 50%; /* Position the element horizontally at the center of the container */
  transform: translateX(-50%); /* Center the element horizontally */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 870px) {
  .image_mid_text > h1 {
    font-size: 2.3rem;
  }
  .image_mid_text > p {
    font-size: 1.25rem;
  }
  .image_mid_text {
    top: 125px;
  }
  .slideshow-container {
    height: 400px;
  }
  .slideshow-container img {
    height: 400px;
  }
}
